body {
  padding-top: 60px;
}

#fotografies {
  margin-top: 0; /* jumpable */
}

#fotos .row {
  margin-top: -40px; /* was 20 but jumpable things are -60 */
}

#fotos .foto img {
  max-width: 700px;
  max-height: 700px;
}
.foto a {
  float: left;
  padding: 4px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}
.foto a img {
  display: block;
}
.foto a:hover {
  border-color: #0069d6;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.m2 {
  text-align: right;
}

.recap {
  background-color: #eee;
}

.recap td {
  border-top: 1px solid #bbb;
}

#informacio thead th
{
  padding-top: 15px;
}

#informacio tbody {
  display: none;
}

#informacio .more-details, #informacio .less-details {
  padding: 0 10px;
}

#informacio .less-details {
  display: none;
}

.jumpable {
  margin-top: -60px;
  padding-top: 60px;
}

.prettyprint {
  background-color: #fefbf3;
  padding: 9px;
  border: 1px solid rgba(0,0,0,.2);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
          box-shadow: 0 1px 2px rgba(0,0,0,.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.cost {
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  font-family: Georgia;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.cost small {
  font-size: 40px;
  line-height: 40px;
}

#descripcio {
  margin-top: 0; /* jumpable */
}

